<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <connectionStrings>
    <add name="KargazHaritaEntities" connectionString="metadata=res://*/MdlKargazHarita.csdl|res://*/MdlKargazHarita.ssdl|res://*/MdlKargazHarita.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.251;initial catalog=KargazHarita;user id=sa;password=Aybs@07!Login;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="SerhatgazHaritaEntities" connectionString="metadata=res://*/MdlSerhatgazHarita.csdl|res://*/MdlSerhatgazHarita.ssdl|res://*/MdlSerhatgazHarita.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.251;initial catalog=SerhatgazHarita;persist security info=True;user id=sa;password=Aybs@07!Login;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="localhost_KargazHarita_Connection" connectionString="XpoProvider=MSSqlServer;data source=LENOVO-PC;integrated security=SSPI;initial catalog=KargazHarita" />
  </connectionStrings></configuration>
